html,body{
  margin: 0;padding: 0;
}
.main-box{
  padding: 1em;
  background-color: #23252C;
}
.nav{
  text-align: center;
  background-color: #1A1B21;
}
/* .content-box{
  background: #1A1B21;
} */
.content-box--dark{
  background: #1A1B21;
  border-radius: 0 0 0.5em 0.5em;
}
.content-box--light{
  background: #F5F5F5;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}
img{
  width: 100%;
  border-radius: 0.5em 0.5em 0 0 ;
}
.content-box--light .header h1{
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}


.header{
  text-align: center;
}
.header h1{
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
.header p {
  color: #F3BF99;
  font-size: large;
}
.content-box--light .header p {
  color: #F47D27;
  font-size: large;
}
.header a{
  text-decoration: none;
  margin-right: 0.5em;
  padding: 0.3em 0.7em;
  border-radius: 0.5em;
 
  
}
.icon{
  font-size: 1em;
}
.body{
  padding: 1em;
}
.content-box--light  .body h3{
  color: black;
  margin-bottom:0;
}

.body h3{
  color: #fff;
  margin-bottom:0;
}
.content-box--light .body p{
  color: #4A4E74;
}
.body p{
  color: #fff;
}
.footer{
  background-color: #161619;
  border-radius: 0 0 0.5em 0.5em;
  display: flex;
  justify-content: space-evenly;
}
.footer p{
  color: #918E9B;
  font-size: 1.5em;
}
.email{
  background-color: #D1D5DB;
  color: black;
}
.linkedin{
  background-color: #5093E2;
  color: white
}

@media screen and (min-width: 550px) {
  .main-box{
    padding: 2em;
  }
  .content-box{
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 650px) {
  .main-box{
    padding: 2em;
  }
  .content-box--light{
    width: 60%;
    margin: 0 auto;
  }
  .content-box--dark{
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 750px) {
  .main-box{
    padding: 2em;
  }
  .content-box--dark{
    width: 50%;
    margin: 0 auto;
  }
  .content-box--light{
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 950px) {
  .main-box{
    padding: 2em;
  }
  .content-box--dark{
    width: 40%;
    margin: 0 auto;
  }
  .content-box--light{
    width: 40%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px) {
  .main-box{
    padding: 2em;
  }
  .content-box--dark{
    width: 30%;
    margin: 0 auto;
  }
  .content-box--light{
    width: 30%;
    margin: 0 auto;
  }
}